body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calendar-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#month-year {
    text-align: center;
    margin-bottom: 20px;
}

.weekdays {
    display: flex;
    justify-content: space-around;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.special-day {
    background-color: #f0f0f0; 
    color: #007bff; 
}

.important-day {
    background-color: #ffe6e6; 
    color: #d9534f; 
}

.day img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
